@import url('../css/default.css');

/* DIV (REVIEW DESCRIPTION) */

.review_description {
    width: 56rem;
    margin: 1.5rem auto 2rem;
    text-align: center;
}

span.review_description_icon {
    padding: .5rem;
    border-radius: 2.5rem;
    font-size: 2.75rem;
    color: rgba(var(--color-blue));
    background: rgba(var(--color-blue), .125);
}

.review_description_title {
    margin: .5rem 0;
    font-size: 1.875rem;
}

.review_description_text {
    margin: 0;
    color: var(--text-normal);
}

/* DIV (REVIEW QUESTIONS) */

.review_question {
    position: relative;
    width: 56rem;
    margin: 0 auto 1.5rem;
    padding: 1.5rem;
    border: 1px solid rgba(187, 187, 187, 0.4);
    border-radius: .5rem;
    box-sizing: border-box;
    background: #fff;
}

.review_question_title {
    margin: 0 0 1.5rem 0;
}

.review_icon {
    position: absolute;
    top: -.75rem;
    right: .875rem;
    display: flex;
    align-items: center;
    padding: .125rem .5rem;
    border-radius: 1rem;
    font-size: .875rem;
    font-weight: 500;
    color: #fff;
    background: rgba(var(--color-green), 1);
    box-sizing: border-box;
}

.review_icon span {
    font-size: 1.25rem;
    margin-right: .125rem;
}

.review_icon.incorrect {
    background: rgb(var(--color-red));
}

.review_question_title span {
    color: var(--text-normal);
}

.review_question_answers p {
    width: 100%;
    margin: 0 0 .5rem 0;
    border: 1px solid rgba(var(--color-gray), 1);
    border-radius: .5rem;
    padding: .875rem;
    font-size: .875rem;
    color: var(--text-normal);
    background: rgba(var(--color-gray), .7);
    box-sizing: border-box;
}

.review_question_answers p.correct {
    border: 1px solid rgba(var(--color-green), .3);
    background: rgba(var(--color-green), .2);
    font-weight: 600;
    color: rgb(var(--color-green));
}

.review_question_answer {
    margin: 1.25rem 0;
}

.review_question_answer p {
    margin: 0;
    font-size: .875rem;
    color: var(--text-normal);
}

.review_question_answer p span {
    font-weight: 600;
    color: rgb(var(--color-red));
}

.review_question_answer p:last-child {
    margin-top: .875rem;
}

.review_question_answer p.correct span,
.review_question_answer p:last-child span {
    color: rgb(var(--color-green));
}

.review_question_explication {
    width: 100%;
    padding: 1rem;
    border-left: .25rem solid rgba(var(--color-blue), .6);
    border-radius: 0 .5rem .5rem 0;
    background: rgba(var(--color-blue), .125);
    box-sizing: border-box;
}

.review_question_explication_title {
    margin: 0 0 .5rem;
    font-family: var(--font-title);
    font-size: 1rem;
    color: var(--text-bold);
}

.review_question_explication_text {
    margin: 0;
    font-size: .875rem;
    color: var(--text-bold);
}

/* DIV (REVIEW ACTIONS) */

.review_actions {
    width: 56rem;
    margin: 1.5rem auto 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
}

/* .review_actions button, */
.review_actions a {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .675rem 1.5rem;
    border: none;
    border-radius: .25rem;
    font-size: .875rem;
    font-weight: 600;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--text-normal);
    background-color: #f9fafb;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, .2);
    cursor: pointer;
    transition: ease-in-out 300ms;
}

.review_actions a:last-child {
    color: #fff;
    background-color: rgba(var(--color-blue));
}

.review_actions a:hover {
    transform: translateY(-.125rem);
}